#app {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
}

#app a {
  font-weight: 500;
  color: rgb(var(--v-theme-primary)); 
  text-decoration: inherit;
  transition: color 0.3s ease;
}
#app a:hover {
  color: rgba(var(--v-theme-primary), 0.8); 
}

#app h1 {
  font-size: clamp(2rem, 5vw, 3.2rem);
  line-height: 1.1;
  margin-bottom: 1.5rem;
}
